---
title: BestOnlineParties.org &mdash; Find Best Online Parties. Everywhere.

layout: default
---
  
    <div class="site-blocks-cover overlay" style="background-image: url('/images/hero_bg_1.jpg');" data-DISABLED-aos="fade" data-DISABLED-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
            <!-- <h1 class="mb-4">Do Party. Have Fun. Everywhere.</h1> -->
            <h1 class="mb-4">Find Best Online Parties</h1>
            <!--<p>Find your next party here:</p>-->
            <p data-aos="fade-up" data-aos-delay="800">
              <form id="subscribe-form-index" action="https://formspree.io/xdowyraq" method="post" class="site-block-subscribe">
                <div class="input-group mb-3">
                  <input type="text" id="subscribe-form-index-emailOrPhone" name="emailOrPhone" class="form-control border-secondary text-white bg-transparent" placeholder="Your Email" OLDplaceholder="Email or mobile phone"
                    aria-label="Email or mobile phone" aria-describedby="button-addon2">
                  <input type="hidden" name="pageurl" value="{{ page.url }}#index" />
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-top-right-0" type="submit" id="subscribe-form-index-button">Subscribe to Newsletter</button>
                  </div>
                </div>
              </form>
              <script>
                window.addEventListener("DOMContentLoaded", function() { 
                  initSubscribeForm(formId="subscribe-form-index"); 
                });
              </script>
            </p>
            <p id="subscribe-form-index-status"></p>
            <p>Scroll down for upcoming parties ...</p>
            <!--<p>Next in 00 days, 00 rs, 00 mins, 00 secs ...</p>-->
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-small">
      <div class="container">

        <a name="parties"></a>
        <a name="party"></a>
        <div class="row mt-1">
          <!--<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto"> -->
          <div class="site-section-heading text-center mb-1 w-border col-md-6 mx-auto mt-0">
            <h2 class="mb-1">Upcoming Best Online Parties</h2>
            <p>Either you are alone at home or with friends in the park or wherever 
              – join the best online parties to see old and new friends and to be seen by them.
            </p>
            <p>
              With cool music and danceable rhythms:
            </p>  
          </div>
        </div>

        <div class="row">

          {% assign delay = 150 %}
          {% assign delayOffset = 150 %}
          {% assign index = 1 %}
          {% assign maxIndex = 3 %}
          {% assign default_link_comment = "Zoom Video Dance Party" %}
          {% assign link_url_prefix = "https://dance123.club" %}
          {% assign link_url_suffix = "?r=bestonlineparties.org" %}
          {% for event in site.events %}
            {% if event.event_in_bestonlineparties_list and index <= maxIndex %}
              <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="{{ delay }}">
                {%- assign event_date_begin_nice_en = event.event_time_begin_utc | date: "%A, %B %e, %Y" -%}
                {% comment %}
                    {%- assign event_date_begin_nice_de = event.event_time_begin_utc | date: "%A, %e. %B, %Y" -%}
                    {%- assign event_date_begin_nice_de = event_date_begin_nice_de | replace: "Moday", "Montag" | replace: "Tuesday", "Dienstag" | replace: "Wednesday", "Mittwoch" | replace: "Thursday", "Donnerstag" | replace: "Friday", "Freitag" | replace: "Saturday", "Samstag" | replace: "Sunday", "Sonntag" -%}
                    {%- assign event_date_begin_nice_de = event_date_begin_nice_de | replace: "January", "Januar" | replace: "February", "Februar" | replace: "March", "März" | replace: "April", "April" | replace: "May", "Mai" | replace: "June", "Juni" | replace: "July", "Juli" | replace: "August", "August" | replace: "September", "September" | replace: "October", "Oktober" | replace: "November", "November" | replace: "December", "Dezember" -%}
                {% endcomment %}

                {% assign delay = delay | plus:delayOffset %}
                {% assign defaultImageUrl = '/images/img_' | append: index  | append: '.jpg' %}
                {% assign index = index | plus:1 %}
                <a href="{{ link_url_prefix }}{{ event.url }}{{ link_url_suffix }}" class="unit-9" target="_blank">
                  <div class="image" style="background-image: url('{{ event.event_image_path | default: defaultImageUrl }}');"></div>
                  <div class="unit-9-content">
                    <h2>{{ event.link_title | default: event.event_title | default: event.title }}</h2>
                    <span>{{ event.link_date | default: event_date_begin_nice_en }}</span>
                    <!--<span>{{ event.link_comment | default: event.event_comment | markdownify }}</span>-->
                    <span>{{ event.link_comment | default: default_link_comment }}</span>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}


        <!--
        <div class="row">
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>This Is The Day</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
                <span>with Wendy Matos</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('images/img_2.jpg');"></div>
              <div class="unit-9-content">
                <h2>Electro Party</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
                <span>with Gaby Tenda</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('images/img_3.jpg');"></div>
              <div class="unit-9-content">
                <h2>Classic Hits</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
                <span>with James Tenda</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('images/img_4.jpg');"></div>
              <div class="unit-9-content">
                <h2>Classic Songs</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
                <span>with Troy Peters</span>
              </div>
            </a>
          </div>
        </div>
        -->
      </div>
    </div>

    <div class="site-section site-section-small">
      <div class="container">

        <a name="fun"></a>
        <div class="row mt-1">
          <!--<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto"> -->
          <div class="site-section-heading text-center mb-1 w-border col-md-6 mx-auto mt-0">
            <h2 class="mb-1">Addons for Fun</h2>
            <p>Pimp up your online party:
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="400">
            <a href="https://dance123.club/?ref=bestonlineparties.org#your-own-party" target="_blank" class="unit-9">
              <div class="image" style="background-image: url('images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>Want to organize your own party?</h2>
                <span>Have a DJ set or just a Spotify playlist?</span>
                <span>Get help now! For free.</span>
              </div>
            </a>
          </div>
          <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="https://shop.erlebnisbauernhof-gertrudenhof.de/en/guided-tours?category=Call-the-Lama&language=English&ref=bestonlineparties.org" target="_blank" class="unit-9">
              <div class="image" style="background-image: url('images/lama.jpg');"></div>
              <div class="unit-9-content">
                <h2>Add a Lamy to your own Zoom Party?</h2>
                <span>Call-a-Lama!</span>
                <span>10 mins fun for 50 EUR.</span>
              </div>
            </a>
          </div>
          <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="https://www.youtube.com/watch?v=UzrSDOokyBU&autoplay=1" target="_blank" class="unit-9">
            <!-- http://eventertainment.biz/what-we-do/fun-social-distancing/virtual-game-shows/ -->
              <div class="image" style="background-image: url('images/the-game-show-virtual.jpg');"></div>
              <div class="unit-9-content">
                <h2>The Game Show (Virtual)</h2>
                <span>Hosted by entertainer Avi Frier.</span>
                <span>Only available for paid private parties.</span>
              </div>
            </a>
          </div>
          
          <!--
          <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="600">
            <a href="https://lmgtfy.com/?q=what+is+a+zoom+party" target="_blank" class="unit-9">
              <div class="image" style="background-image: url('images/wired-zoom-party-cropped.jpg');"></div>
              <div class="unit-9-content">
                <h2>Zoom Party?</h2>
                <span>What is it?</span>
                <span>Explain it to me!</span>
              </div>
            </a>
          </div>
          -->
        </div>
      </div>
    </div>
