<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if page.meta_refresh_content %}
      <meta http-equiv="refresh" content="{{ page.meta_refresh_content }}">
    {% endif %}

    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!--
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/mediaelementplayer.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/fl-bigmug-line.css">   
    -->
    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/css/style-extension.css">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/css/ie.css' | relative_url }}">
    <![endif]-->


    <!-- set SEO metatags for HTML header -->
    {% seo %}
    <meta property="og:image" prefix="og: http://ogp.me/ns#" content="{{ page.image | default: page.event_image | default: '/images/hero_bg_1_lowres.jpg' }}">
    <!--
    <meta property="og:image:height" prefix="og: http://ogp.me/ns#" content="384">
    <meta property="og:image:width" prefix="og: http://ogp.me/ns#"  content="384">
    -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bestparties_org">
    <meta name="twitter:creator" content="@bestparties_org">
    <!--
    <meta name="twitter:title" content="hello title3">
    <meta name="twitter:description" content="Hi desc3">
    -->
    <meta name="twitter:image" content="https://bestonlineparties.org{{ page.image | default: page.event_image | default: '/images/hero_bg_1_lowres.jpg' }}">
    <!--
    <link rel="icon" href="/images/icon2-32x32.png" sizes="32x32" />
    <link rel="icon" href="/images/icon2-192x192.png" sizes="192x192" />
    <link rel="shortcut icon" href="/images/icon2-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/images/icon2-180x180.png" />
    -->

    <!-- jQuery and Co. code -->
    <script defer src="/js/jquery-3.3.1.min.js"></script>
    <script defer src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script defer src="/js/jquery-ui.js"></script>
    <script defer src="/js/jquery.magnific-popup.min.js"></script>
    <script defer src="/js/popper.min.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>
    <!--
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mediaelement-and-player.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    -->
    <script defer src="/js/aos.js"></script>
    <!--<script src="/js/circleaudioplayer.js"></script>-->
    <!-- main JS -->
    <script defer src="/js/main.js"></script>
    <script defer src="/js/dance-v2.js"></script>
    <script defer src="/js/bestonlineparties.js"></script>
    <!-- analytics and helpers -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
    </script>

  </head>

  <body>

    <div class="site-wrap">
      <div class="site-navbar mt-4">
          <div class="container py-1">
            <div class="row align-items-center">
              <div class="col-8 col-md-8 col-lg-4">
                <h1 class="mb-0"><a href="/" class="text-white-transparent h2 mb-0"><strong>BestOnlineParties<span class="text-primary">.</span>org</strong></a></h1>
              </div>
              <div class="col-4 col-md-4 col-lg-8">
                <nav class="site-navigation text-right text-md-right" role="navigation">
  
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
  
                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <!--<li><a href="/">Home</a></li>-->
                    <li class="active"><a href="/#parties">Upcoming Parties</a></li>
                    <li><a href="/#fun">Fun</a></li>
                    <li><a href="/add">+ Add Party</a></li>
                    <li><a href="/about">About Us</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-2">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->

      
      {{ content }}

     
      <div class="bg-primary" data-DISABLED-aos="fade">
        <div class="container">
          <div class="row">
            <a href="#" class="col-2 text-center py-4 social-icon d-block"><span
                class="icon-facebook text-white"></span></a>
            <a href="#" class="col-2 text-center py-4 social-icon d-block"><span class="icon-twitter text-white"></span></a>
            <a href="#" class="col-2 text-center py-4 social-icon d-block"><span
                class="icon-instagram text-white"></span></a>
            <a href="#" class="col-2 text-center py-4 social-icon d-block"><span
                class="icon-linkedin text-white"></span></a>
            <a href="#" class="col-2 text-center py-4 social-icon d-block"><span
                class="icon-pinterest text-white"></span></a>
            <a href="#" class="col-2 text-center py-4 social-icon d-block"><span class="icon-youtube text-white"></span></a>
          </div>
        </div>
      </div>
  
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="mb-5">
                <h3 class="footer-heading mb-4">About</h3>
                <p>BestOnlineParties.org is here to help us to dance and to party
                   with old and potential new friends, somewhere in the world,
                   while bridging the physical distance.
                  <a href="/about">Read more ...</a>
                </p>
              </div>

              <div class="mb-5">
                <h3 class="footer-heading mb-4">Subscribe to Newsletter</h3>
                <form id="subscribe-form-footer" action="https://formspree.io/xdowyraq" method="post" class="site-block-subscribe">
                  <div class="input-group mb-3">
                    <input type="text" name="emailOrPhone" class="form-control border-secondary text-white bg-transparent" placeholder="Email or mobile phone"
                      aria-label="Email or mobile phone" aria-describedby="button-addon2">
                    <input type="hidden" name="pageurl" value="{{ page.url }}#footer" />
                    <div class="input-group-append">
                      <button class="btn btn-primary rounded-top-right-0" type="submit" id="subscribe-form-footer-button">Subscribe</button>
                    </div>
                  </div>
                </form>
                <script>
                  window.addEventListener("DOMContentLoaded", function() { 
                    initSubscribeForm(formId="subscribe-form-footer"); 
                  });
                </script>
                <p id="subscribe-form-footer-status"></p>
              </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="row mb-5">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Navigations</h3>
                </div>
                <div class="col-md-6 col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#parties">Upcoming Parties</a></li>
                    <li><a href="/#fun">Addons for Fun</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="/add">+ Add Party</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/about">Contact</a></li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Share Us</h3>
  
                  <div>
                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="mb-5">
                <h3 class="footer-heading mb-4">Watch Random Party</h3>
                <div class="block-16">
                  <figure>
                    <img src="/images/img_1.jpg" width="400" height="600" alt="Image placeholder" class="img-fluid rounded">
                    <a href="https://zoomroulette.io/?ref=bestonlineparties.org" target="_blank" class="play-button NONONO-popup-vimeo"><span class="icon-play"></span></a>
                  </figure>
                </div>
              </div>
            </div>         
          </div>
  
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <p>
              {% comment %}<!--
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                -->{% endcomment -%}
              Copyright &copy;&nbsp;{{ "now" | date: "%Y" }}
              BestOnlineParties.org. All rights reserved | Simple Demo | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank" >Colorlib</a>
              <!-- Template is licensed under CC BY 3.0. -->
              </p>
            </div>          
          </div>
        </div>
      </footer>
  
    </div>
  
  </body>
</html>
